[submodule "third_part/googletest"]
	path = third_part/googletest
	url = https://github.com/google/googletest.git
[submodule "third_part/benchmark"]
	path = third_part/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_part/highwayhash"]
	path = third_part/highwayhash
	url = https://github.com/google/highwayhash.git
